<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css"/>
  <title>admin- adding new Category</title>
</head>
<body>
<header th:replace="/fragments/header :: ecommerceHeader"></header>

<div class="main-content">

  <form th:action="@{/admin}" method="post">
    <label>Category name:</label><br>
    <input type="text" name="name" required><br>
  </form>


</div>


</body>
</html>