<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <title>Browser</title>
</head>

<body>
<header th:replace="~{/fragments/header :: ecommerceHeader}"></header>

<div class="main-content">

    <table>
        <tr>
            <th style="width: 30px;">No.</th>
            <th style="width: 50px;">pic</th>
            <th>Name</th>
            <th>Quantity</th>
            <th>Sum</th>
            <th style="width: 30px;"></th>
        </tr>

        <tr th:each="cartProduct: ${@cart.cartProducts}">

            <td>1</td>
            <td>
                <img th:src="@{${cartProduct.product.imgUrl}}">
            </td>
            <td th:text="${cartProduct.product.name}"></td>
            <td style="display: flex; padding-top: 10px;">
                <a class="manipulation-btn" th:href="@{'/order/decrease/' + ${cartProduct.product.id}}">-</a>
                <p th:text="${cartProduct.counter}"></p>
                <a class="manipulation-btn" th:href="@{'/order/increase/' + ${cartProduct.product.id}}">+</a>
            </td>
            <td th:text="${cartProduct.productPriceSum}">7.99</td>
            <td>
                <a class="manipulation-btn" href="">X</a>
            </td>

        </tr>
    </table>

    <div class="summary">
        <p>
            <span>To pay: </span><span th:text="${@cart.cartSum}">100 </span><span>PLN</span>
        </p>
    </div>

    <button>Pay</button>

</div>


</body>

</html>